*{
  scroll-behavior: smooth;
}
.App {
  min-height: 100vh;
  background-color: #282c34;
  min-height: 100vh;
  color:white;
  padding-top: 130px;
  padding-bottom: 70px;

}

@media(max-width:700){
  .app{
    padding-top:70px;
  }
}

